<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Seventh navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" id="home" href="">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleXxl"
            aria-controls="navbarsExampleXxl" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleXxl">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                <li class="nav-item">
                    <a class="nav-link" id="about" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Projects" href="#">Projects</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" id="contacto" href="#">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Download-cv" href="#">Download CV</a>
                </li>
            </ul>
        </div>
    </div>
</nav>